package models

{{ if .NeedTimePackage }}	import "time"
{{ end -}}

type {{ .Name }} struct {
{{ range .Fields -}}
	{{ .Name }} {{ .Type }} `{{ .Tag }}` {{ if (ne .Comment "") }}// {{ .Comment }}{{ end }}
{{ end }}
}

// set {{ .Name }}'s table name to be `{{ .TableName }}`
func ({{ .Name }}) TableName() string {
  return "{{ .TableName }}"
}